*  {
    margin: 0;
    padding: 0;  
}


h1 {
    color: rgb(163, 3, 4);
    font-size: 80px;
    text-align: center; /* centralizar o h1 */       
    }


.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 1px;
    margin: 0 20px;

    }

    #prg_cards {

        font-size: 40px;
    
    }


    .box_one_cads div{
    display: flex;
         width: 100%;


    }

    .box_one_cads div {

    width: 1fr 1fr 1fr;
        justify-content: space-between;
        padding: 15px;
        opacity: 1;
    }

    .box_one_cads #box_middle {

    opacity: 0.3;
    }
    